<article class="productCard">
    <div class="productPhoto">
        <img src="{{ product.image.url}} " alt="">
    </div>
    <div class="productInfo">
        <h4 class="productName">{{product.name}}</h4>

        <p class="productPrice"> {{product.price}} руб </p>
        {% if request.session.cart%}
            {% for i in request.session.cart %}
                {% if i.id == id %}


                {% else %}
                    <form action="{% url 'cart:addcart' id %}" method="POST" class="CartAdd">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ id }}">
                        <input type="hidden" name="type" value="{{ type }}">
                        <input type="hidden" name="name" value="{{product.name}}">
                        <input type="hidden" name="image" value="{{ product.image.url}}">
                        <input type="hidden" name="price" value="{{product.price}}">
                        <button type="submit" class="BTNadd" id="add">В корзину</button>
                    </form>
                {% endif %}
            {% endfor %}

        {% else %}
            <form action="{% url 'cart:addcart' id %}" method="POST" class="CartAdd">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ id }}">
                <input type="hidden" name="type" value="{{ type }}">
                <input type="hidden" name="name" value="{{product.name}}">
                <input type="hidden" name="image" value="{{ product.image.url}}">
                <input type="hidden" name="price" value="{{product.price}}">
                <button type="submit" class="BTNadd" id="add">В корзину</button>
            </form>

        {% endif %}

    </div>

</article>