<article class="productCard">
    <div class="productPhoto">
        <img src="{{ product.image.url}} " alt="">
    </div>
    <div class="productInfo">
        <a class="productName" href="{{ product.get_absolute_url}}">{{product.name}}</a>
    
        <p class="productPrice"> {{product.price}} руб </p>
        {% if not id|stringformat:"s"  in request.session.cart  %}
            <form action="{% url 'cart:addcart' id %}" method="POST" class="CartAdd" id="add">
                {% csrf_token %}
                <p class="hidden">{{addcart.quantity}}</p>
                {{addcart.updaye}}
                <button type="submit" class="BTNadd" id="add">В корзину</button>
            </form>
        {% endif %}
    </div>

</article>