{% load static %}

<article class="cartProduct">
    <div class="cartProductImage">
        <img src="{{ image }}" alt="">
    </div>
    <div class="cartProductInfo">
        <p class="cartProductName">{{ name }}</p>
        <p> Цена : {{ price }}</p>
        <div class="cartProductNameQuantity">
            Количесвто : {{quantity}}
            <form action="{% url 'cart:update' id %}" method="post"  class="CartUpdate">
                {% csrf_token %}
                {{addcart}}
                <button type="submit" > обновить</button>
            </form>
        </div>
        <form action="{% url 'cart:removecart' id %}" method="delete" class="removeCart">
            {% csrf_token %}
            <button type="submit"> Удалить</button><br>
        </form>  
    </div>
</article>