{% load static %}

<article class="cartProduct">
    <div class="cartProductImage">
        <img src="{{ image }}" alt="">
    </div>
    <div class="cartProductInfo">
        <p class="cartProductName">{{ name }}</p>
        <p> Цена : {{ price }}</p>
        <div class="cartProductNameQuantity">
            Количесвто :
            <form action="{% url 'cart:addcart' id %}" method="post"  class="CartAdd">
                {% csrf_token %}
                {{addcart}}
                <input type="submit" />
            </form>
        </div>
        <form action="{% url 'cart:removecart' id %}" method="post" class="removeCart">
            {% csrf_token %}
            <button type="submit"> Удалить</button><br>
        </form>  
    </div>
</article>