{% load static %}

<div id="cartModal">
    <div id="cart">
        <div class="cartHeader">
            <div class="cartTitle">
                <h2>Корзина</h2>
            </div>
            <div class="cartClose" id="cartBtnClose">
                <img src="{% static 'icons/close.svg' %}" alt="">
            </div>

        </div>
        <div class="cartBody">
            {% comment %} {{ request.cart.}} {% endcomment %}
            {% for i in cart%}
                {% with price_total=i.total_price price=i.product.price image=i.product.image.url name=i.product.name quantity=i.quantity id=i.product.id %}
                    {% include "cart/cartProduct.html" %}
                {% endwith %}
            {% endfor %}
            
 
        </div>


    </div>
    <div class="ordering">
        <span > Сумма за всех товары: <span id="TotalPrice">{{ cart.get_total_price }}</span>
        </span>
        <a href="{% url 'orders:create' %}">Оформить заказ</a>
    </div>
</div>