*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   
}

header{
    position: absolute;
    display: flex;
    float: left;
    height: 100%;
    width: 15%;
    background-color: rgba(128, 128, 128, 0.377);
    justify-content: center;
}

.LogoShop{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.SuMarketLogo {
    width: 100px;
    height: 100px;
    color: black;
}
nav ul{
    list-style: none;
}
nav ul li a{
    font-size: 20px;
    text-decoration: none;
    color: brown;
    margin-top: 5px;
    font-weight: 400;
}
