{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/style.css'%}" type="text/css">
    <link rel="shortcut icon" href="{% static 'icons/logo.svg'%}" type="image/x-icon">
    <title>{{ title }}</title>
</head>

<body>
    <header class="headerSucculentum">
        <div class="SucculentumMenu" id="menuBtnOpen">
            <img src="{% static 'icons/menu.svg' %}" alt="">
        </div>
        <div class="titleSucculentum">
            <h1>Succulentum</h1>
        </div>
        <div class="SucculentumCart" id="cartBtnOpen">
            <img src="{% static 'icons/cart.svg' %}" alt="">
            <span id="numberCart">{{ request.session.cart|length  }} </span>
        </div>
    </header>
    {% include 'cart.html' %}
    {% include 'menu.html' %}

    {% block content%}

    {% endblock %}

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/csrftoken.js' %}"></script>

</body>


</html>