{% load static %}

<article class="cartProduct">
    <div class="cartProductImage">
        <img src="{{ image}}" alt="">
    </div>
    <div class="cartProductInfo">
        <span class="cartProductName">{{ name }}</span>

        <span> Количесвто </span>
        <span> Цена : {{ price }}</span>
        <form action="{% url 'cart:removecart' id %}" method="post" class="removeCart">
            {% csrf_token %}
            <button type="submit"> Удалить</button>
        </form>
    </div>
</article>